<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="car: ${carList}">
    <td th:text="${car.getMark()}"/><br>
    <td th:text="${car.getModel()}"/><br>
</tr>

<form th:action="@{/add}" th:object="${newCar}" method="post">
<p>Model:</p><input type="text" th:field="*{model}"/>
<p>Mark:</p><input type="text"  th:field="*{mark}"/>
<input onsubmit="" type="button" value="Add new Car">
</form>
</body>
</html>