<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="car: ${carList}">
    <td th:text="${car.getMark()}"/>
    <br>
    <td th:text="${car.getModel()}"/>
    <br>
</tr>

<form th:action="@{/add}" th:object="${newCar}" method="post">
    <p>Model:<input type="text" th:field="*{model}"/></p>
    <p>Mark:<input type="text" th:field="*{mark}"/></p>
    <input type="submit" value="Add new Car">
</form>
</body>
</html>